<div class="noprint row">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary" ng-click="export()" ng-disabled="rows.length == 0">
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 导出
        </button>
        <button type="button" class="btn btn-success" ng-click="print()" ng-disabled="rows.length == 0">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> 打印
        </button>
    </div>
    <div class="col-sm-offset-6 col-sm-2">
        <h5 class="pull-right">{{amountName}}：{{rows.length}}</h5>
    </div>
</div>

<h5 class="" style="text-align: center;">{{tableName}}&nbsp;&nbsp;&nbsp;<small>{{amountName}}：{{rows.length}}</small></h5>
<h6 class="noshow" ng-repeat="tip in tips" style="text-align: center;">{{tip}}</h6>
<div>
    <table class="table-condensed">
        <thead>
            <tr>
                <th ng-repeat="col in cols" ng-show="col.visible">{{col.displayName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows | orderBy:orderBy">
                <td ng-repeat="col in cols" ng-show="col.visible">{{col.name != 'EMPTY' ?  row[col.name] : '&nbsp;&nbsp;&nbsp;&nbsp;'}}</td>
            </tr>

            <tr ng-show="rows.length != 0 && showSummary">
                <td ng-repeat="col in cols" ng-show="col.visible">{{ $index == 0 ? '合计' : ( summary[col.name] != null ? summary[col.name].toFixed(2) : '&nbsp;&nbsp;&nbsp;&nbsp;' )}}</td>
            </tr>
        </tbody>
    </table>
</div>