<div class="col-sm-9 col-sm-offset-3 col-md-40 col-md-offset-2 main">
    <form name="msForm" ng-submit="submit()" class="form-horizontal" novalidate>
        <div class="form-group ">
            <label class="col-sm-3 control-label">选择小区</label>
            <div class="col-sm-4">
                <span class="nullable">
                    <select class="form-control" ng-model="searchparams.CommunityId" ng-options="c.Id as c.Name for c in clist" required="" ng-change="loadbuildings()">
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>        
        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label">幢号（可选）</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="searchparams.BuildingNumber">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label">状态（可选）</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="searchparams.Status">
                    <option value="">--请选择--</option>
                    <option value="0">可售</option>
                    <option value="1">已售</option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label">面积大小（可选）</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="searchparams.SizeRange">
                    <option value="">--请选择--</option>
                    <option value="1">60平米以下</option>
                    <option value="2">60平米到90平米</option>
                    <option value="3">90平米以上</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-disabled="msForm.$invalid" ng-click="query()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
                </button>
            </div>
        </div>

    </form>
    <table class="table table-striped table-hover table-bordered" ng-show="showresult">
        <tr>
            <th>小区</th>
            <th>栋号</th>
            <th>单元</th>
            <th>门牌号</th>
            <th>房型</th>
            <th>面积</th>
            <th>朝向</th>
            
            <th>基价</th>
            <th>优惠价</th>
            <th>市场价格1</th>
            <th>市场价格2</th>
            <th>状态</th>

            <th><input type="button" class="btn btn-primary btn-sm" value="添加" ng-click="add()" /></th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.Community.Name}}</td>
            <td>{{item.BuildingNumber}}</td>
            <td>{{item.UnitNumber}}</td>
            <td>{{item.DoorNumber}}</td>
            <td>{{item.Type}}</td>
            <td>{{item.Size}}</td>
            <td>{{item.Facing}}</td>
            <td>{{item.Price1}}</td>
            <td>{{item.Price2}}</td>
            <td>{{item.Price3}}</td>
            <td>{{item.Price4}}</td>
            <td>{{item.Status}}</td>
            <td>
                <input type="button" class="btn btn-default btn-xs" value="修改" ng-click="modify($index)"/>
                <input type="button" class="btn btn-warning btn-xs" value="删除" ng-click="del($index)" />
            </td>
        </tr>
    </table>
    <!-- pagination -->
    <div ng-show="showresult && totalItems">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"
                    max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" previous-text="<上一页" next-text="下一页>" last-text="尾页"></pagination>
        <span class="pull-right" style="margin: 20px 0;">显示 {{(currentPage - 1) * itemsPerPage + 1}} - {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} | 总计: {{totalItems}}</span>
    </div>
</div>