<div style="width:21cm; margin-left:1cm">
    <button class="btn btn-primary hidden-print" onclick="window.print()">打印</button>
    <table width="1024" border="0">
        <tr>
            <td width="1024" height="60" align="center" class="STYLE5"><p class="STYLE6">购 房 记 录</p></td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" bordercolor="#000000">
                    <tr>
                        <td height="138" colspan="3" align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="28">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="STYLE4">
                                                    被动迁户： <u>
                                                        {{rr.Residents[0].Name}}<input type="hidden" name="user_id" ng-model="rr.Name" /> <span class="STYLE4">
                                                        </span>
                                                    </u>
                                                </td>

                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                                <tr>
                                    <td height="28" class="STYLE4">
                                        <table width="100%" border="0" cellspacing="3" cellpadding="0">
                                            <tr>
                                                <td width="120" class="STYLE4">购房户主</td>
                                                <td width="120" class="STYLE4"><u>{{rr.Residents[0].Name}}</u></td>
                                                <td width="120" class="STYLE4">身份证号码</td>
                                                <td width="128" align="left" class="STYLE4">{{rr.Residents[0].IdentityCard}}</td>
                                                <td width="120" class="STYLE4">动迁基地</td>
                                                <td width="120" class="STYLE4">{{rr.RelocationBase.Name}}</td>
                                                <td width="120" class="STYLE4">联系电话</td>
                                                <td width="120" class="STYLE4">{{rr.Residents[0].Phone}}</td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">开单日期</td>
                                                <td class="STYLE4">{{rr.DeliveryDate | date:"yyyy-MM-dd"}}</td>
                                                <td class="STYLE4">安置金额</td>
                                                <td class="STYLE4"><div id="BCZJ">{{pr.TotalCompensation}}</div></td>
                                                <td class="STYLE4">打印日期</td>
                                                <td class="STYLE4">{{now}}</td>
                                                <td class="STYLE4">安置面积</td>
                                                <td class="STYLE4">{{pr.Size}}</td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="28" class="STYLE4"></td>
                                </tr>
                                <tr ng-repeat-start="c in contracts">
                                    <td ng-show="showrecord($index)" height="28" class="STYLE4">
                                        <table width="100%" border="1" cellspacing="0" bordercolor="#000000">
                                            <tr>
                                                <td class="STYLE4"><span class="STYLE7">门牌号 ({{c.Appartment.BuildingNumber}})</span></td>
                                                <td class="STYLE4">{{c.Appartment.Community.Name}} </td>
                                                <td class="STYLE4"><span class="STYLE7">室号</span></td>
                                                <td class="STYLE4">{{c.Appartment.DoorNumber}}</td>
                                                <td class="STYLE4">购房金额</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="18" value="{{c.PaymentAmount.toFixed(2)}}" /></td>
                                                <td class="STYLE4">购房日期</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="10" value='{{c.ContractDate |date:"yyyy-MM-dd"}}' /></td>
                                            </tr>
                                            <tr>
                                                <td width="120" class="STYLE4">实测面积</td>
                                                <td width="120" class="STYLE4"><div>{{c.Appartment.Size}}</div></td>
                                                <td width="120" class="STYLE4">打印</td>
                                                <td width="120" class="STYLE4">&nbsp;</td>
                                                <td width="120" class="STYLE4">参与计算</td>
                                                <td width="120" class="STYLE4">
                                                    计算
                                                </td>
                                                <td width="120" class="STYLE4">是否现房</td>
                                                <td width="120" class="STYLE4">
                                                    {{c.Appartment.Readiness}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">基价面积</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="8" ng-model="c.Size1" /></td>
                                                <td class="STYLE4">优惠面积</td>
                                                <td class="STYLE4">
                                                    <input type="text" class="noline_textarea" size="4" ng-model="c.Size2" />
                                                    +
                                                    <input type="text" class="noline_textarea" size="4" />
                                                </td>
                                                <td class="STYLE4">市场面积</td>
                                                <td class="STYLE4">
                                                    <input type="text" class="noline_textarea" size="10" ng-model="c.Size3" />
                                                </td>
                                                <td class="STYLE4"><span class="STYLE7">市场面积2</span></td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="10" ng-model="c.Size4" /></td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">单价</td>
                                                <td class="STYLE4"><div id="danjia1<%=i%>">{{c.Appartment.Price1}}</div></td>
                                                <td class="STYLE4">单价</td>
                                                <td class="STYLE4"><div id="danjia2<%=i%>">{{c.Appartment.Price2}}</div></td>
                                                <td class="STYLE4">单价</td>
                                                <td class="STYLE4"><div id="danjia3<%=i%>">{{c.Appartment.Price3}}</div></td>
                                                <td class="STYLE4">单价</td>
                                                <td class="STYLE4"><div id="danjia4<%=i%>">{{c.Appartment.Price4}}</div></td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">金额</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="10" value="{{(c.Appartment.Price1 * c.Size1).toFixed(2)}}" /></td>
                                                <td class="STYLE4">金额</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="10" value="{{(c.Appartment.Price2 * c.Size2).toFixed(2)}}" /></td>
                                                <td class="STYLE4">金额</td>
                                                <td class="STYLE4">
                                                    <input type="text" class="noline_textarea" size="10" value="{{(c.Appartment.Price3 * c.Size3).toFixed(2)}}" />
                                                </td>
                                                <td class="STYLE4">金额</td>
                                                <td class="STYLE4">

                                                    <input type="text" class="noline_textarea" size="10" value="{{(c.Appartment.Price4 * c.Size4).toFixed(2)}}" />
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr ng-show="showrecord($index)"><td height="20"></td></tr>
                                <tr ng-show="showrecord($index)">
                                    <td height="28" class="STYLE4">
                                        <table width="100%" border="0" cellspacing="3" cellpadding="0">
                                            <tr>
                                                <td width="120" class="STYLE4">过渡天数</td>
                                                <td width="120" class="STYLE4">
                                                    <input type="text" class="noline_textarea" size="10" ng-model="c.TransitionDays" />
                                                </td>
                                                <td width="120" class="STYLE4">截止日期</td>
                                                <td width="180" class="STYLE4">

                                                    <input type="text" class="noline_textarea" size="8" value={{c.Deadline.substring(0,10)}} />  利率：<input name="lilv<%=i%>" type="text" class="noline_textarea" id="lilv<%=i%>" size="4" ng-model="c.InterestRate" />
                                                </td>
                                                <td width="120" class="STYLE4">购房差额款</td>
                                                <td width="120" class="STYLE4"><input type="text" class="noline_textarea" size="18" value="{{c.DeltaAmount.toFixed(2)}}" /></td>
                                                <td width="120" class="STYLE4">开票金额</td>
                                                <td width="120" class="STYLE4"><div id="kpje<%=i%>">{{totalprice($index).toFixed(2)}}</div></td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">天然气开户费</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" id="qi<%=i%>" size="10" ng-model="c.GasFee" /></td>
                                                <td class="STYLE4">维修基金单价</td>
                                                <td class="STYLE4">{{c.RepairUnitPrice}}</td>
                                                <td class="STYLE4">维修基金金额</td>
                                                <td class="STYLE4">{{(c.RepairUnitPrice * c.Appartment.Size).toFixed(2)}}</td>
                                                <td class="STYLE4">过渡费</td>

                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="18" ng-model="c.TransitionFee" /></td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4">利息</td>

                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="18" ng-model="c.InterestFee" /></td>
                                                <td class="STYLE4">电视开户费</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="10" ng-model="c.TVFee" /></td>
                                                <td class="STYLE4">户主姓名</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="18" value="{{owners($index)}}" /></td>
                                                <td class="STYLE4">身份证</td>
                                                <td class="STYLE4"><input type="text" class="noline_textarea" size="18" value="{{idcard($index)}}" /></td>
                                            </tr>
                                            <tr>
                                                <td class="STYLE4" width="120">合计支付金额</td>

                                                <td class="STYLE4" align="left"><input type="text" class="noline_textarea" size="18" value="{{totalfee($index).toFixed(2)}}" /></td>
                                                <td class="STYLE4">&nbsp;</td>
                                                <td class="STYLE4" align="left">&nbsp;</td>
                                                <td class="STYLE4">&nbsp;</td>
                                                <td class="STYLE4" align="left">&nbsp;</td>
                                                <td class="STYLE4">&nbsp;</td>
                                                <td class="STYLE4" align="left">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr ng-repeat-end>
                                    <td height="20" class="STYLE4"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="3" cellpadding="0">
                                            <tr>
                                                <td width="160" class="STYLE4">购房户主签名</td>
                                                <td width="160" class="STYLE4">&nbsp;</td>
                                                <td width="160" class="STYLE4">操作员</td>
                                                <td width="160" class="STYLE4">&nbsp;</td>
                                                <td width="160" class="STYLE4">复核人</td>
                                                <td width="160" class="STYLE4">&nbsp;</td>
                                                <td width="160" class="STYLE4">复审人</td>
                                                <td width="160" class="STYLE4">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
        </tr>
    </table>



</div>
