<div>
        <div class="modal-header">
            <h3 class="modal-title">亲属信息</h3>
        </div>
        <div class="modal-body">
            <form name="msForm" ng-submit="submit()" class="form-horizontal" novalidate>

                <div class="form-group  has-feedback">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="newitem.Name" required="">
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="newitem.IdentityCard" required="" idcard>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" value="{{ newitem.IdentityCard | togender}}" readonly>
                    </div>
                </div>
                <div class="form-group  has-feedback" ng-if="newitem.RelationshipType=='户主'">
                    <label class="col-sm-2 control-label">联系电话</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="newitem.Phone" required="" ng-minlength="8">
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label class="col-sm-2 control-label">关系</label>
                    <div class="col-sm-5">
                        <span class="nullable">
                            <label ng-show="newitem.RelationshipType=='户主'" class=" label-info form-control">{{newitem.RelationshipType}}</label>
                            <select ng-show="newitem.RelationshipType!='户主'" class="form-control" ng-model="newitem.RelationshipType" ng-options="rt.Name as rt.Name+' ' for rt in rts" required="">
                                <option value="">--请选择--</option>
                            </select>
                        </span>
                    </div>
                </div>
             </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="msForm.$invalid" ng-click="ok()">提交</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>

        </div>
        
</div>