<div class="col-sm-9 col-sm-offset-3 col-md-40 col-md-offset-2 main">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>用户名</th>
            <th>角色</th>
            <th ng-show="user.Roles[0].Id == 1"><input type="button" class="btn btn-primary btn-sm" value="添加用户" ng-click="add()" /></th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.UserName}}</td>
            <td>{{item.Roles[0].Id | usertype}}</td>
            <td ng-show="user.Roles[0].Id == 1">
                <!--   <input type="button" class="btn btn-default btn-xs" value="修改" ng-click="modify($index)" />        -->
                <input type="button" class="btn btn-warning btn-xs" value="删除" ng-click="del($index)" />
                <input type="button" class="btn btn-warning btn-xs" value="重置密码" ng-click="changePassword($index)"/>
            </td>
        </tr>
    </table>
</div>