<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="noprint">
        <p class="bg-info">请查询安置信息。</p>
        <form name="s1" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label">动迁基地名称</label>
                <div class="col-sm-3">
                    <span class="nullable">
                        <select class="form-control" ng-model="searchparams.RelocationBaseId" ng-options="rb.Id as rb.Name for rb in rbs">
                            <option value="">--请选择--</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="search()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div export-table table-name="tableName" cols="cols" rows="prList"></div>

</div>