<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div>
        <p class="bg-info">以下拆迁户记录中存在重复身份证信息。请确认后，点击“通过”按钮或修改该拆迁记录</p>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>拆迁基地</th>
                    <th>问题人员姓名</th>
                    <th>重复身份证号</th>
                    <th>关系</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.RelocationRecord.RelocationBase.Name}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.IdentityCard}}</td>
                    <td>{{item.RelationshipType}}</td>
                    <td>
                        <label class="label-success" ng-show="item.Status==1"> 已通过</label>
                        <label class="label-success" ng-show="item.Status==-1"> 已删除</label>
                        <button ng-show="item.Status==0" type="button" class="btn btn-primary btn-sm" ng-click="pass($index)">通过</button>
                        <button ng-show="item.Status==0" type="button" class="btn btn-warning btn-sm" ng-click="navtodetail(item.RelocationRecord,false)">修改</button>
                        
                        <button ng-show="item.Status==0" type="button" class="btn btn-danger btn-sm" ng-click="delete($index)">删除</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- pagination -->
    <div ng-show="totalItems">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"
                    max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" previous-text="<上一页" next-text="下一页>" last-text="尾页"></pagination>
        <span class="pull-right" style="margin: 20px 0;">显示 {{(currentPage - 1) * itemsPerPage + 1}} - {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} | 总计: {{totalItems}}</span>
    </div>
    <div ng-show="totalItems == 0" class="alert alert-info">没有搜索到对应的记录。</div>
</div>