<div class="col-sm-9 col-sm-offset-3 col-md-40 col-md-offset-2 main">
    <ol ng-show="notnew"class="breadcrumb">
        <li><a href="#/resident/search">动迁户搜索</a></li>
        <li class="active">{{rr.Residents[0].Name}}</li>
    </ol>

    <div>
        <p class="bg-info">请认真填写动迁户的信息。若输入框显示红色，说明输入有误；若为绿色说明输入有效</p>
    </div>
    <form name="msForm" ng-submit="submit()" class="form-horizontal" novalidate >
        <div class="form-group ">
            <label class="col-sm-2 control-label">动迁基地名称</label>
            <div class="col-sm-5">
                <span  class="nullable">
                    <select class="form-control" ng-model="rr.RelocationBaseId" ng-options="rb.Id as rb.Name for rb in rbs" required="">
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">所在村</label>
            <div class="col-sm-5">
                <span class="nullable">
                    <select class="form-control" ng-model="rr.Village" ng-options="v.Name as v.Name + ' ' for v in vlist" required="" >
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>

        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">组</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="rr.Group" required="" integer>
            </div>
            <label class="col-sm-1 control-label">门牌号</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="rr.DoorNumber" required="" integer>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">拆迁编号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="rr.RRId" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">动迁户性质</label>
            <div class="col-sm-2">
                <span class="nullable">
                    <select class="form-control" ng-model="rr.RelocationType" required="">
                        <option value="">--请选择--</option>
                        <option value="居住">居住</option>
                        <option value="非居住">非居住</option>
                    </select>
                </span>
            </div>
            <div ng-if="rr.RelocationType == '居住'">
                <label class="col-sm-2 control-label">宅基户号或批件文号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="rr.DocumentNumber" required="" ng-disabled="readonly == 'true'">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">制卡日期</label>
            <div class="col-sm-5">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="rr.DateCreated" is-open="datepickers.dt1" show-weeks="false" ng-required="true" readonly
                           close-text="关闭" current-text="今天" clear-text="清除" />
                </p>
            </div>
        </div>
      
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">户主姓名</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="rr.Residents[0].Name" required="">
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">身份证号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="rr.Residents[0].IdentityCard" idcard>
            </div>
        </div>
        <div class="form-group  has-feedback">  
            <label class="col-sm-2 control-label">联系电话</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="rr.Residents[0].Phone" required="" ng-minlength="8">
            </div>
        </div>
       
        <hr />
        <div>
            <p ng-show="notnew!=true" class="bg-info">每户只能有一位家庭成员为户主，户主信息将由以上户主信息自动生成，您可以添加其他家庭成员</p>
            <p ng-show="notnew" class="bg-info">每户只能有一位家庭成员为户主。若要修改户主信息请点击下表中第一行"修改"按钮。</p>
            <p ng-show="notnew" class="bg-info">若要修改家庭成员信息，请直接修改无需提交。</p>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>姓名</th>
                <th>身份证号</th>
                <th>性别</th>
                <th>关系</th>
                <th><input type="button" ng-show="buttonshow" class="btn btn-primary btn-sm" value="添加家庭成员" ng-click="add()" /></th>
            </tr>
            <tr ng-repeat="person in rr.Residents">
                <td>{{person.Name}}</td>
                <td>{{person.IdentityCard}}</td>
                <td>{{person.IdentityCard | togender}}</td>
                <td>{{person.RelationshipType }}</td>
                <td>
                    <input ng-show="buttonshow" type="button" class="btn btn-default btn-xs" value="修改" ng-click="modify($index)"/>
                    <input ng-show="buttonshow" type="button" class="btn btn-warning btn-xs" value="删除" ng-click="del($index)" ng-disabled="person.RelationshipType=='户主'" />
                </td>
            </tr>
        </table>
        <hr/>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">家庭人数</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.ResidentsCount" ng-init="rr.ResidentsCount = 0 " integer>
            </div>
        </div>

        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">认定人口数</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.EffectiveResidentsCount" ng-init="rr.EffectiveResidentsCount=0" integer>
            </div>
        </div>
        <hr />
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">补偿款总金额</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.TotalCompensation" ng-init="rr.TotalCompensation=0"  currency>
            </div> 
        </div>

        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">应付现款</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.CashPayable" ng-init="rr.CashPayable=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">已付现款</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.CashPaid" ng-init="rr.CashPaid=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">应付总房款</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.TotalPayable" ng-init="rr.TotalPayable=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">已付总房款</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.TotalPaid" ng-init="rr.TotalPaid=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">其他支出</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.OtherPayment" ng-init="rr.OtherPayment=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">水电费押金</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.DepositEWF" ng-init="rr.DepositEWF=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">代缴交水电费</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.EWFPaid" ng-init="rr.EWFPaid=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">抄表度数</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.EWAmount" ng-init="rr.EWAmount=0"  currency>
            </div>
        </div>
       
        <hr/>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">评估总面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.MeasuredSize" ng-init="rr.MeasuredSize=0" currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">有效面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.EffectiveSize" ng-init="rr.EffectiveSize=0" currency>
            </div>
        </div>

        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">应见未建</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.NoConstructionSize" ng-init="rr.NoConstructionSize=0" currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">无证面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.UncertifiedSize" ng-init="rr.UncertifiedSize=0" currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">批建总面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.ApprovedSize" ng-init="rr.ApprovedSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">楼房面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.HouseSize" ng-init="rr.HouseSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">平房面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.RoomSize" ng-init="rr.RoomSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">村舍面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.AffliateSize" ng-init="rr.AffliateSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">保留面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.ReservedSize" ng-init="rr.ReservedSize=0"  currency>
            </div>
        </div>

        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">无证总面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.UnapprovedSize" ng-init="rr.UnapprovedSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">已罚面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.PunishedSize" ng-init="rr.PunishedSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">应拆未拆</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.NoRemovalSize" ng-init="rr.NoRemovalSize=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">安置面积</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.RelocationSize" ng-init="rr.RelocationSize=0"  currency>
            </div>
        </div>
       
        <hr/>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">基准户数</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.BaseNumber" ng-init="rr.BaseNumber=0"  integer>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">过渡费</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.TransitionFee" ng-init="rr.TransitionFee=0"  currency>
            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">大病补助</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" ng-model="rr.SickCompensation" ng-init="rr.SickCompensation=0"  currency>
            </div>
        </div>
        <hr/>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">付款日期</label>
            <div class="col-sm-5">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepickerlocaldate datepicker-options="dateOptions" ng-model="rr.PaymentDate" is-open="datepickers.dt2" show-weeks="false" 
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>

            </div>
        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">交房日期</label>
            <div class="col-sm-5">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="rr.DeliveryDate" is-open="datepickers.dt4" show-weeks="false"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt4')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>

            </div>

        </div>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">协议日期</label>
            <div class="col-sm-5">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="rr.NewVillageDate" is-open="datepickers.dt3" show-weeks="false" 
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt3')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
              
            </div>
           
        </div>
        <hr/>
        <button ng-show="buttonshow" class="btn btn-primary" ng-disabled="msForm.$invalid" ng-click="ok()">提交</button>
        <button ng-show="rr.Id!=null && user.Roles[0].Id!=3 && readonly=='true' " class="btn btn-primary" ng-disabled="msForm.$invalid" ng-click="edit()">修改</button>
    </form>
</div>