<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <p class="bg-info">请按动迁户信息查询或者按照范围查询。</p>
    <form name="s1" class="form-horizontal" novalidate>
        <div ng-include="'/pages/resident/resident_query.html'"></div>

        <div class="form-group has-feedback">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="table-responsive" ng-show="showresult">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>拆迁基地编号</th>
                    <th>拆迁基地</th>
                    <th>拆迁编号</th>
                    <th>村</th>
                    <th>户主姓名</th>
                    <th>户主身份证</th>
                    <th>手机</th>
                    <th>关系</th>
                    <th>姓名</th>
                    <th>身份证</th>
                 
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rr in rrlist">
                    <td>{{rr.RBId}}</td>
                    <td>{{rr.RelocationBase}}</td>
                    <td>{{rr.RRId}}</td>
                    <td>{{rr.Village}}</td>
                    <td>{{rr.mResidentName}}</td>
                    <td>{{rr.mResidentIdentityCard}}</td>
                    <td>{{rr.mResidentPhone}}</td>
                    <td>{{rr.RelationshipType}}</td>
                    <td>{{rr.Name}}</td>
                    <td>{{rr.IdentityCard}}</td>
                  
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="navtodetail(rr,true)">查看</button>
                        <button ng-show="user.Roles[0].Id==1" type="button" class="btn btn-default btn-sm" ng-click="navtodetail(rr,false)">修改</button>
                        <button ng-show="user.Roles[0].Id==1" type="button" class="btn btn-danger btn-sm" ng-click="del($index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="showresult && rrFilteredOut" class="alert alert-info">注意有数条动迁记录因不满足范围搜索条件而未显示。</div>

    <!-- pagination -->
    <div ng-show="showresult && totalItems">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"
                    max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" previous-text="<上一页" next-text="下一页>" last-text="尾页"></pagination>
        <span class="pull-right" style="margin: 20px 0;">共{{rrlist.length}}条记录，显示 {{(currentPage - 1) * itemsPerPage + 1}} - {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} 户 | 总计: {{totalItems}} 动迁户</span>
    </div>
    <div ng-show="showresult && totalItems == 0" class="alert alert-info">没有搜索到对应的记录。</div>
</div>