<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="noprint">
        <p class="bg-info">请查询动迁信息。</p>
        <form name="s1" class="form-horizontal" novalidate>
            <div ng-include="'/pages/resident/resident_query.html'"></div>
            <div class="form-group has-feedback">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="search()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                    </button>
                </div>
            </div>
        </form>
        <hr/>

        <p class="bg-info">请选择需要导出的表种类，当表格数据加载完成后点击导出按钮将数据导出到Excel文件，或者点击打印按钮打印表格。</p>
        <div class="row">
            <label class="col-sm-2 control-label">动迁记录表格</label>
            <div class="col-sm-3">
                <span class="nullable">
                    <select class="form-control" ng-model="selectedTmpl"
                            ng-options="tmpl.name for tmpl in exportTmpls track by tmpl.id"
                            ng-change="loadTmpl()">
                    </select>
                </span>
            </div>
        </div>

        <!--
        <div>
            <label ng-repeat="col in colList">
                <input type="checkbox" name="{{col.name}}" ng-model="col.visible" />{{col.displayName}}
            </label>
        </div>
        -->
    </div>

    <div export-table table-name="tableName" cols="cols" rows="dataSource" summary="summary" amount-name="人数"></div>
    <div class="alert alert-info" ng-show="showResult && dataSource.length == 0">没有查询到对应的记录。</div>
</div>