<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div>
        <p class="bg-info">请按以下条件查询动迁户信息：当您填写至少其中一项时，搜索按钮才被激活，然后点击搜索按钮查询。</p>
    </div>
    <form name="s1" class="form-horizontal" novalidate>
        <div class="form-group  has-feedback">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="searchparams.Name" >
            </div>
            <label class="col-sm-2 control-label">身份证号</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="searchparams.IdentityCard" >
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-2 control-label">拆迁编号</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="searchparams.RRId" />
            </div>
            <label class="col-sm-2 control-label">动迁基地名称</label>
            <div class="col-sm-3">
                <span class="nullable">
                    <select class="form-control" ng-model="searchparams.RelocationBaseId" ng-options="rb.Id as rb.Name for rb in rbs">
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">所在村</label>
            <div class="col-sm-2">
                <span class="nullable">
                    <select class="form-control" ng-model="searchparams.Village" ng-options="v.Name as v.Name + ' ' for v in vlist">
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>
            <label class="col-sm-1 control-label">组</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="searchparams.Group">
            </div>
            <label class="col-sm-1 control-label">门牌号</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="searchparams.DoorNumber">
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">付款日期（范围）</label>
            <div class="col-sm-3">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepickerlocaldate datepicker-options="dateOptions" ng-model="searchparams.PaymentDateStart" is-open="datepickers.dt" show-weeks="false"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-sm-3">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepickerlocaldate datepicker-options="dateOptions" ng-model="searchparams.PaymentDateEnd" is-open="datepickers.dt2" show-weeks="false"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">交房日期（范围）</label>
            <div class="col-sm-3">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="searchparams.DeliveryDateStart" is-open="datepickers.dt3" show-weeks="false"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt3')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-sm-3">
                <p class="input-group datepicker">
                    <input type="text" class="form-control" datepicker-popup datepicker-options="dateOptions" ng-model="searchparams.DeliveryDateEnd" is-open="datepickers.dt4" show-weeks="false"
                           close-text="关闭" current-text="今天" clear-text="清除" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'dt4')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="searchbyR()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                </button>
            </div>
        </div>
    </form>
    <hr />
    <div class="table-responsive" ng-show="showresult">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>拆迁基地</th>
                    <th>户主姓名</th>      
                    <th>手机</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rr in rrlist">
                    <td>{{rr.RelocationBase.Name}}</td>
                    <td>{{rr.Residents[0].Name}}</td>
                    <td>{{rr.Residents[0].Phone}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="navtodetail(rr,true)">查看</button>
                        <button ng-show="user.Roles[0].Id==2" type="button" class="btn btn-default btn-sm" ng-click="navtodetail(rr,false)">修改</button>
                        <button ng-show="user.Roles[0].Id==2" type="button" class="btn btn-danger btn-sm" ng-click="del($index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- pagination -->
    <div ng-show="showresult && totalItems">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"
                    max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" previous-text="<上一页" next-text="下一页>" last-text="尾页"></pagination>
        <span class="pull-right" style="margin: 20px 0;">显示 {{(currentPage - 1) * itemsPerPage + 1}} - {{currentPage * itemsPerPage > totalItems ? totalItems : currentPage * itemsPerPage}} | 总计: {{totalItems}}</span>
    </div>
    <div ng-show="showresult && totalItems == 0" class="alert alert-info">没有搜索到对应的记录。</div>
</div>