<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <label ng-repeat ="col in colList">
        <input type="checkbox" name="{{col.name}}" ng-model="col.visible" ng-change="columnsChanged()" />{{col.displayName}}
    </label> 
    
    <hr/>
    <form name="s1" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">拆迁编号</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="searchparams.RRId" />
            </div>
            <label class="col-sm-2 control-label">动迁基地名称</label>
            <div class="col-sm-3">
                <span class="nullable">
                    <select class="form-control" ng-model="searchparams.RelocationBaseId" ng-options="rb.Id as rb.Name for rb in rbs">
                        <option value="">--请选择--</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="col-sm-4">
                <label><input type="radio" name="showAllResidents" value="0" ng-model="showAllResidents" />仅显示户主</label>
                <label><input type="radio" name="showAllResidents" value="1" ng-model="showAllResidents" />显示所有家庭成员</label>
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="search()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索
                </button>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-primary" ng-click="export()">
        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 导出
    </button>

    <div class="custom-csv-link-location">
        <label>Your CSV will show below:</label>
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
    </div>
    <div ui-grid="gridOptions" ui-grid-exporter class="gridStyle"></div>

<pre>
{{gridOptions.columnDefs | json}}
</pre>

</div>